@font-face {
  font-family: KM-CN;
  src: url("./font/FOTC-ARTeyuanGBHeavy.otf") format("truetype");
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    font-family: KM-CN;
    font-size: 16px;
  }
  html,
  body {
    height: 100%;
  }
}
