.marker-detail-dialog {
  .ant-modal-content {
    background: url("../../../assets/img/bg_dialog.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    min-height: 30vh;

    .info-forestFarm {
      color: #fff;
    }
  }
}
